@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	background:#0b0e0f;
	color:white;
	margin:0;
	padding:15px;
}

h1,h2,h3,h4 {
	margin:0;
}

.topPart {
	float:left;
}

#searchQ {
	width:50%;
	margin-top:10px;
	margin-left:10px;
}

#settingsBtn {
	margin-top:10px;
	margin-left:10px;
}

.songResult {
	background:#555;
	width:60%;
	height:125px;
	cursor:pointer;
	margin-bottom:5px;
}

.songResult:hover {
	background:#686868;
}

.songResultMeta {
	padding-left:80px;
	padding-top:15px;
}

.albumCover {
	width:100px;
	height:auto;
	float:left;
	padding-top:13px;
	padding-bottom:13px;
	padding-left:5px;
	padding-right:5px;
}

#results {
	margin-top:10px;
}

.footer {
	width:100%;
	height:150px;
	position:fixed;
	background-color:black;
	left:0;
	bottom:0;
}

.playerPic {
	width:100px;
	height:100px;
	padding-top:25px;
	padding-left:15px;
}

.rowPart {
	float:left;
}

.meta {
	margin-left:125px;
	margin-top:25px;
	position:fixed;
}

.controls {
	position:fixed;
	margin-left:125px;
	margin-top:85px;
}

.info {
	font-family:Arial;
}

.alt {
	font-family:Verdana;
}

#leftFooter {
	max-width:45%;
	float:left;
	min-height:100%;
}

#rightFooter {
	float:left;
	text-align:right;
	min-width:50%;
	min-height:100%;
	margin-left:50%;
}

.clickable {
	cursor:pointer;
}

.clickable:hover {
	text-decoration:underline;
}

.controlsBtn {
	background:#282828;
	border:3px white;
	color:white;
	height:20px;
	width:auto;
}

.activeBtn {
	background-color:#777;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(15, 15, 15, 0.7);
	z-index: 10;
}

.overlayContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding:15px;
}

#ytPlayer {
	border:0;
	width:800px;
	height:455px;
}

.center {
	text-align:center;
}